[submodule "share/catkin_ws/src/realsense2_description"]
	path = share/catkin_ws/src/realsense2_description
	url = https://github.com/hoo223/realsense2_description.git
	update = merge
[submodule "share/catkin_ws/src/robotiq"]
	path = share/catkin_ws/src/robotiq
	url = https://github.com/hoo223/robotiq.git
	update = merge
[submodule "share/catkin_ws/src/universal_robot"]
	path = share/catkin_ws/src/universal_robot
	url = https://github.com/hoo223/universal_robot.git
	update = merge
[submodule "share/catkin_ws/src/ur10_teleop_interface"]
	path = share/catkin_ws/src/ur10_teleop_interface
	url = https://github.com/hoo223/ur10_teleop_interface.git
	update = merge
[submodule "share/catkin_ws/src/realsense_gazebo_plugin"]
	path = share/catkin_ws/src/realsense_gazebo_plugin
	url = https://github.com/hoo223/realsense_gazebo_plugin.git
	update = merge
[submodule "share/catkin_ws/src/Geomagic_Touch_ROS_Drivers"]
	path = share/catkin_ws/src/Geomagic_Touch_ROS_Drivers
	url = https://github.com/hoo223/Geomagic_Touch_ROS_Drivers.git
	update = merge
[submodule "share/catkin_ws/src/unity/unity_robotics_demo_msgs"]
	path = share/catkin_ws/src/unity/unity_robotics_demo_msgs
	url = https://github.com/hoo223/unity_robotics_demo_msgs.git
	update = merge
[submodule "share/catkin_ws/src/unity/unity_ros_control"]
	path = share/catkin_ws/src/unity/unity_ros_control
	url = https://github.com/hoo223/unity_ros_control.git
	update = merge
[submodule "share/catkin_ws/src/unity/ROS-TCP-Endpoint"]
	path = share/catkin_ws/src/unity/ROS-TCP-Endpoint
	url = https://github.com/hoo223/ROS-TCP-Endpoint.git

